<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wing It</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main class="main-content">
            <div class="main-header">
                <div class="main-header-content">
                    <div class="logo">
                        <i class="fas fa-newspaper"></i>
                        <h1><span class="wing3">Wing </span><span class="it3">It</span></h1>
                    </div>
                    <div id="search-container-container">
                        <div class="search-container">
                            <input type="text" id="search-input" placeholder="Search news...">
                            <button id="search-button"><i class="fas fa-search"></i></button>
                        </div>
                        <a href="/settings"><div title="Settings" class="fas fa-gear" id="settings" ></div></a>
                    </div>
                    <div class="logout-container">
                        <a href="/logout" id="logout-button">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </div>
                <aside class="sidebar">
                    <nav>
                        <ul class="category-toggles">

                            <li class="toggle {% if category == '' %}active{% endif %}" data-category="home"><a href="/news"><i class="fas fa-home"></i> Home</a></li>
                            <li class="toggle {% if category == 'world' %}active{% endif %}" data-category="world"><a href="/news?category=world"><i class="fas fa-globe"></i> World</a></li>
                            <li class="toggle {% if category == 'business' %}active{% endif %}" data-category="business"><a href="/news?category=business"><i class="fas fa-chart-line"></i> Business</a></li>
                            <li class="toggle {% if category == 'technology' %}active{% endif %}" data-category="technology"><a href="/news?category=technology"><i class="fas fa-microchip"></i> Technology</a></li>
                            <li class="toggle {% if category == 'entertainment' %}active{% endif %}" data-category="entertainment"><a href="/news?category=entertainment"><i class="fas fa-film"></i> Entertainment</a></li>
                            <li class="toggle {% if category == 'upload' %}active{% endif %}" data-category="upload"><a href="/upload"><i class="fas fa-upload"></i> Upload Articles</a></li>
                            <li class="toggle {% if category == 'custom' %}active{% endif %}" data-category="custom"><a href="/settings"><i class="fas fa-gear"></i> Custom</a></li>
                            <li class="toggle {% if category == 'saved' %}active{% endif %}" data-category="saved"><a href="/news?category=saved"><i class="fas fa-bookmark"></i> Saved</a></li>
<!-- 
                            <li class="toggle active" data-category="home"><i class="fas fa-home"></i> Home</li>
                            <li class="toggle" data-category="world"><i class="fas fa-globe"></i> World</li>
                            <li class="toggle" data-category="business"><i class="fas fa-chart-line"></i> Business</li>
                            <li class="toggle" data-category="technology"><i class="fas fa-microchip"></i> Technology</li>
                            <li class="toggle" data-category="entertainment"><i class="fas fa-film"></i> Entertainment</li>
                            <li class="toggle" data-category="custom"><i class="fas fa-gears"></i> Custom</li>
                            <li class="toggle" data-category="saved"><i class="fas fa-bookmark"></i> Saved</li> -->

                        </ul>
                    </nav>
                </aside>
            </div>
            <div id="news-container" class="news-feed" data-category="{{ category | default('') }}"></div>
        </main>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>